/* ON */
#app.wishlist-on {
  .wishlist.wishlist-modal {
		opacity: 1 ;
		width: 100%;
		height: 100%;
		transition: opacity 350ms ease-out 0ms;
  }
}

/* OFF */
#app.wishlist-off {
  .wishlist.wishlist-modal {
		opacity: 0;
		width: 0;
		height: 0;
		transition: opacity 350ms ease 0ms, width 0ms ease 350ms, height 0ms ease 350ms;
  }
}

.wishlist.wishlist-modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  opacity: 0;
  width: 0;
  height: 0;
  background-color: $modal-opacity;

  .wishlist-prompt {
    position: relative;
    max-width: 480px;
    margin: 20px;
    height: auto;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

    @media #{$mobile} {
      margin: 20px;
      padding: 30px 20px;
    }
    @media #{$tablet} {
      margin: 25px;
      padding: 30px 30px;
    }
    @media #{$notebook}, #{$desktop}, #{$wide} {
      padding: 30px 30px 30px;
    }

    h3 {
      margin-bottom: 15px;
      font-size: $size-subtitle;
      text-align: center;
      letter-spacing: 0.5px;
    }

    p {
      color: $text;
      font-size: $size-medium;
      text-align: center;
      line-height: 1.25;
    }

    .wishlist-signup {
      @media #{$mobile} {
        padding: 25px 30px 0 30px;
      }
      @media #{$tablet}, #{$notebook}, #{$desktop}, #{$wide} {
        padding: 25px 70px 0 70px;
      }
      .button {
        margin-bottom: 10px;
      }
    }
  
    .wishlist-close {
      display: block;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      z-index: 2;
      right: 4px;
      top: 4px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-size: 0;
      color: transparent;
      background-repeat: no-repeat;
      background-position: 2px 2px;
      background-size: 40px 40px;
      background-color: $color-mobile;
      background-image: $icon__menu-offset-close;
      transition: opacity $menu-transition ease-in-out 0ms;
      // ---------
      // !! Hover :: Managed in no-touch section
      // ---------
    }
  }
}

/**
 * Update links on 'no touch' devices
 */
.wishlist {
  .wishlist-prompt {
    .wishlist-close {
      &:hover {
        opacity: $menu-opacity;
      }
    }
  }
}
