.account {
  .woocommerce {

    // Wishlist
    .account-wishlist {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: auto;
      align-content: flex-start;

      @media #{$mobile}, #{$tablet}, #{$notebook} {
        width: 100%;
      }
      @media #{$desktop}, #{$wide} {
        width: calc(100% + 40px);
        margin-left: -20px;

        &.empty {
          margin-left: 0px;
        }
      }

      [data-removed="yes"] {
        animation: fade-out-remove;
        animation-duration: 800ms;
        animation-delay: 0;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
      }

      .wishlist-item {
        flex: 0 0 auto;
        border-bottom: 1px solid $border;
        transition: all $menu-transition ease 0ms;
        max-height: 400px;

        @media #{$mobile}, #{$tablet}, #{$notebook} {
          width: 100%;
          margin-bottom: 20px;
        }
        @media #{$desktop}, #{$wide} {
          width: calc(50% - 40px);
          margin-bottom: 20px;
          margin-left: 20px;
          margin-right: 20px;
        }

        a {

          // ---------
          // !! Hover :: Managed in no-touch section
          // ---------

          .wishlist-item__figure {
            position: relative;
            float: left;
            width: 128px;
            height: 128px;
            background-color: $white-light;

            @media #{$mobile}, #{$tablet}, #{$notebook}, #{$desktop} {
              margin-bottom: 20px;
            }
            @media #{$wide} {
              margin-bottom: 30px;
            }

            &--primary {
              opacity: 0;
              display: block;
              width: 128px;
              height: 128px;
              background-color: $white-light;
              transition: opacity $image-transition ease-in-out 0ms;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;

              &.lazy-fade {
                opacity: 1;
              }
            }

            &--secondary {
              opacity: 0;
              display: block;
              overflow: hidden;
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              width: 128px;
              height: 128px;
              background-color: $white-light;
              transition: opacity $image-transition ease-in-out 0ms;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }

            &--sale {
              position: absolute;
              z-index: 1;
              right: 6px;
              top: 6px;
              color: $white;
              font-size: $size-normal;
              font-weight: $weight-normal;
              line-height: 1;
              letter-spacing: 3px;
              text-transform: uppercase;
              padding: 4px 6px 5px 9px;
              background-color: $color-sale;
              transform: rotate(-90deg) translate(0, -100%);
              transform-origin: 100% 0;
              background-color: $color-sale;
            }

            &--new {
              display: block;
              position: absolute;
              z-index: 1;
              bottom: 3px;
              left: 3px;
              color: $text;
              font-size: $size-small;
              font-weight: $weight-normal;
              line-height: 1;
              letter-spacing: 1px;
              padding: 5px 7px 5px 7px;
              background-color: white(0.75);
            }
          }
        }

        &__body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          width: calc(100% - 128px);
          min-height: 128px;
          padding-left: 15px;

          a {
            .wishlist-item__body--title {
              display: block;
              padding-right: 12px;
              padding-bottom: 12px;
              font-size: $size-medium;
              text-align: left;
              line-height: 1;
              letter-spacing: 0.5px;
              text-transform: initial;
              transition: color $menu-transition ease-in-out 0ms;

              .sale {
                color: $color-sale;
                text-transform: uppercase;
                transition: color $menu-transition ease-in-out 0ms;
              }
            }

            // ---------
            // !! Hover :: Managed in no-touch section
            // ---------
          }

          .wishlist-item__remove {
            position: absolute;
            right: -12px;
            top: -15px;
            width: 44px;
            height: 44px;

            a.wishlist-remove-saved-item {
              display: block;
              width: 44px;
              height: 44px;
              font-size: 0;
              color: transparent;
              border-radius: 50%;
              background-position: 8px 8px;
              background-repeat: no-repeat;
              background-size: 28px 28px;
              background-color: $color-mobile;
              background-image: $icon__menu-offset-close;
              transition: opacity $menu-transition ease-in-out 0ms;
              // ---------
              // !! hover :: managed in no-touch section
              // ---------
            }
          }

          &--price {
            display: block;
            position: relative;
            // fonts
            color: $text;
            font-family: $family-primary;
            font-size: $size-medium;
            font-weight: $weight-medium;
            text-align: left;
            line-height: 1;

            .product-price__from {
              font-size: $size-small !important;
              font-weight: $weight-medium;
            }

            del {
              color: $grey;
              font-size: $size-medium;
              font-weight: $weight-normal;
              span.amount {
                color: $grey;
                font-size: $size-medium;
                font-weight: $weight-normal;
              }
            }

            ins {
              color: $text;
              font-size: $size-medium;
              font-weight: $weight-medium;
              text-decoration: none;
              background-color: transparent;
              span.amount {
                color: $text;
                font-size: $size-medium;
                font-weight: $weight-medium;
              }
            }
          }

          &--price {
            .sold-out {
              display: inline-block;
              color: $white;
              font-size: $size-small;
              font-weight: $weight-normal;
              line-height: 1;
              letter-spacing: 2px;
              text-transform: uppercase;
              padding: 5px 7px 5px 9px;
              background-color: $grey-light;
            }
          }
        }
      }

      .button {
        margin-top: 40px;
      }
    }
  }
}


/**
 * Update links on 'no touch' devices
 */
.no-touch {
  .account {
    .woocommerce {
      .account-wishlist {
        .wishlist-item {
          a {
            &:hover {
              .wishlist-item__figure {
                &--secondary {
                  opacity: 1;
                }
              }
            }
          }
        }
        .wishlist-item__body {
          a {
            &:hover {
              .wishlist-item__body--title {
                color: $link-hover-text;
                .sale {
                  color: $link-hover-text;
                }
              }
            }
          }
          .wishlist-item__remove {
            a.wishlist-remove-saved-item {
              &:hover {
                opacity: $menu-opacity;
              }
            }
          }
        }
      }
    }
  }
}
