.promo-on {
  .policy {
    border-top: none;
  }
}

.is-policy {
  .statements {
    border-top: 1px solid $border !important;

    @media #{$mobile} {
      padding-top: 40px;
    }
    @media #{$tablet} {
      padding-top: 50px;
    }
    @media #{$notebook} {
      padding-top: 80px;
    }
    @media #{$desktop} {
      padding-top: 80px;
    }
    @media #{$wide} {
      padding-top: 90px;
    }
  }
}

.policy {
  border-top: 1px solid $border;

  @media #{$mobile} {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$tablet} {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media #{$notebook}, #{$desktop}, #{$wide} {
    display: flex;
    width: auto;
    max-width: $max-large;    
    margin: 0 auto;
    padding-left: 4%;
    padding-right: 4%;
  }

  .policy-content {
    flex-direction: column;

    @media #{$mobile} {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 70px;
    }
    @media #{$tablet} {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 90px;
    }
    @media #{$notebook}, #{$desktop} {
      display: flex;
      flex-basis: 75%;
      padding-left: 4%;
      padding-bottom: 110px;
    }
    @media #{$wide} {
      display: flex;
      flex-basis: 75%;
      padding-left: 4%;
      padding-bottom: 130px;
    }

    &__title {
      width: 100%;
      margin: 30px 0 0 0;
      padding: 10px 0 32px 0;
      font-family: $family-secondary;
      color: $text-light;
      font-size: $size-normal;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media #{$mobile}, #{$tablet}  {
        display: none;
      }
      @media #{$notebook}, #{$desktop}, #{$wide} {
        margin-top: 60px;
        border-top: 1px solid $border;
      }
    }

    .policy-section {
      overflow: hidden;
      line-height: 1.25;

      @media #{$notebook}, #{$desktop}, #{$wide} {
        max-width: 640px;
      }

      &__title {
        margin: 0 0 23px 0;
        font-family: $family-secondary;
        color: $text;
        font-size: $size-subtitle;
        letter-spacing: 1px;
      }

      /**
       * COMPILIANZ settings
       */
      .cmplz-document {
        &.privacy-statement,
        &.cmplz-terms-conditions,
        &.cookie-statement,
        &.impressum,
        &.disclaimer {
          font-size: $size-medium;

          h2 {
            padding-top: 4px;
            margin-top: 20px;
            margin-bottom: 8px;
          }
          p {
            margin-bottom: 20px;

            b {
              font-family: $family-secondary;
              font-weight: $weight-bold;
              letter-spacing: 0.5px;
            }
            &.cmplz-subtitle {
              margin-top: 15px;
              margin-bottom: 6px;
              font-size: $size-medium;
              font-family: $family-secondary;
              font-weight: $weight-bold;
              letter-spacing: 1px;
            }
          }
          ul {
            list-style-type: disc;
            margin-bottom: 10px;
            li {
              font-size: $size-medium;
              margin: 0 0 5px 30px;
            }
          }
          a {
            color: $link-primary;
            position: relative;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: 100%;
            background-image: linear-gradient(transparent calc(100% - 1px), lighten($link-primary, 10%) 1px);
            transition: background-size ease $menu-transition;
            // ---------
            // !! Hover :: Managed in no-touch section
            // ---------
          }
        }
      }








      .policy-notice {
        
        &__title {
          margin-bottom: 10px;
          font-size: $size-large;
          letter-spacing: 0.5px;
        }

        &__body {
          font-size: $size-medium;
          font-weight: $weight-normal;
          margin-bottom: 10px;
          &.ending {
            margin-bottom: 30px;
          }
        }

        ol.policy-notice__body {
          list-style-type: disc;

          &.alpha {
            list-style-type: lower-alpha;
            li {
              padding-left: 5px;
            }
          }

          li {
            font-size: $size-medium;
            margin-left: 20px;
            &.ending {
              margin-bottom: 20px;
            }
          }

          &.withspacing {
            margin-top: 15px;
            li {
              margin-bottom: 10px;
              &.ending {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}


#cmplz-document ol.alphabetic {
  counter-reset: list;
  list-style-type: none;
  margin-bottom: 12px;
  li {
    position: relative;
    font-size: $size-medium;
    margin: 0 0 6px 35px;
    &:before {
      position: absolute;
      left: -25px;
      font-family: $family-secondary;
      font-weight: 700;
      content: counter(list,lower-alpha) ") ";
      counter-increment: list;
    }
    ol {
      margin-top: 12px;
      li {
        margin: 0 0 6px 16px;
        padding-left: 5px;
        &:before {
          content: "";
        }
      }
    }
  }
}


/**
 * Update links on 'no touch' devices
 */
.no-touch {
  .policy {
    .policy-content {
      .policy-section {
        .cmplz-document {
          &.privacy-statement,
          &.cmplz-terms-conditions,
          &.cookie-statement,
          &.impressum,
          &.disclaimer {
            a:hover {
              color: $link-primary;
              background-size: 0 100%;
            }
          }
        }
      }
    }
  }
}