.artist-blog {

  @media #{$mobile} {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @media #{$tablet}, #{$notebook}, #{$desktop} {
    padding-top: 70px;
    padding-bottom: 90px;
  }
  @media #{$wide} {
    padding-top: 90px;
    padding-bottom: 110px;
  }
  
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    max-width: $max-medium;
    margin: 0 auto;
    
    @media #{$notebook}, #{$desktop}, #{$wide} {
      flex-direction: row;
      padding-left: 4%;
      padding-right: 4%;
    }
  }

  &__post {
    background-color: $white;
    padding: 19px;
    border: 1px solid $grey-lighter;

    @media #{$mobile} {
      flex: 0 0 calc(100% - 40px);
      margin: 20px 20px 30px 20px;
    }
    @media #{$tablet} {
      flex: 0 0 calc(100% - 50px);
      margin: 20px 25px 30px 25px;
    }
    @media #{$notebook}, #{$desktop}, #{$wide} {
      flex: 0 0 calc(33.3333333% - 20px);
      margin-top: 20px;
      margin-bottom: 40px;

      &.is-start {
        margin-left: 0;
        margin-right: 15px;
      }
      &.is-middle {
        margin-left: 15px;
        margin-right: 15px;
      }
      &.is-end {
        margin-left: 15px;
        margin-right: 0;
      }
    }
    
    .article-thumbnail {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      background-color: $white-light;
      
      @media #{$mobile} {
        height: 280px;
        margin: 0 0 20px;
      }
      @media #{$tablet} {
        height: 320px;
        margin: 0 0 30px;
      }
      @media #{$notebook}, #{$desktop}, #{$wide} {
        height: 240px;
        margin: 0 0 30px;
      }

      .article-thumbnail__image {
        opacity: 0;
        transform: scale(1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        backface-visibility: hidden;
        transition: transform $image-transition ease-in-out, opacity $image-transition ease-in-out 0ms;

        &.lazy-fade {
          opacity: 1;
        }

        // ---------
        // !! Hover :: Managed in no-touch section
        // ---------

      }
    }

    ul.post-categories {
      margin-bottom: 16px;
      li {
        a {
          font-size: $size-small;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }

    h3.entry-title {
      margin-bottom: 8px;

      a {
        font-size: $size-larger;
        line-height: 1;
      }
    }
    
    p {
      a.read_more {
        margin-top: 12px;
        font-size: $size-normal;
        display: inline-block;
      }
      .post-date {
        margin-left: 8px;
        color: $grey-light;
        font-size: $size-small;
        letter-spacing: 1px;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px; 
  }
}


/**
 * Update links on 'no touch' devices
 */
.no-touch {
  .artist-blog {
    &__wrapper {
      .article-thumbnail {
        &:hover {
          .article-thumbnail__image {
            transform: $image-scale;
          }
        }
      }
    }
  }
}
