body,
footer,
button,
input,
select,
textarea {
  font-family: $family-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-secondary;
  font-weight: $weight-bold;
  letter-spacing: 1px;
}

p {
  font-size: $size-medium;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-family: $family-secondary;
  font-weight: $weight-bold;
  letter-spacing: 0.5px;
}

a {
  cursor: pointer;
  color: $link-text;
  font-weight: $weight-normal;
  text-decoration: none;   
}
.no-touch {
  a { 
    transition: color $menu-transition ease-in-out 0ms;
    &:hover {
      color: $link-hover-text;
    }
  }
}

a.primary-link {
  color: $link-primary;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
  background-image: linear-gradient(transparent calc(100% - 1px), lighten($link-primary, 10%) 1px);
  transition: background-size ease $menu-transition;
}
.no-touch {
  a.primary-link {
    &:hover {
      color: $link-primary;
      background-size: 0 100%;
    }
  }
}

a.strong-link {
  color: $text;
  font-weight: $weight-medium;
}

a.link-explore {
  color: $text;
  position: relative;
  padding-right: 40px;
  font-weight: 500;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    margin: -3px 0 0;
    left: calc(100% - 22px);
    width: 7.25px;
    height: 7.25px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $black;
    transform: rotate(-45deg);
    transition: left .2s ease;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    margin: 0 0 0;
    left: calc(100% - 30px);
    width: 16px;
    height: 1px;
    background: $black;
    transition: width .2s ease;
  }
}
.no-touch {
  a.link-explore {
    transition: color $menu-transition ease-in-out 0ms;
    &:hover {
      color: $text;
      &:before {
        left: calc(100% - 10px);
      }
      &:after {
        width: 27px;
      }
    }
  }
}

.marker {
  display: inline-block;
  background-color: yellow;
}