.checkout-content {
  overflow: hidden;

  @media #{$mobile} {
    padding: 30px 0 20px;
  }
  @media #{$tablet} {
    padding: 35px 0 30px;
  }
  @media #{$notebook} {
    padding: 50px 0 40px;
  }
  @media #{$desktop} {
    padding: 50px 0 50px;
  }
  @media #{$wide} {
    padding: 50px 0 60px;
  }

  .woocommerce {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto ;
    height: auto;
    max-width: $max-large;

    @media #{$mobile} {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media #{$tablet} {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media #{$notebook}, #{$desktop}, #{$wide} {
      padding-left: 4%;
      padding-right: 4%;
    }

    .checkout_login {
      @media #{$mobile} {
        width: 100%;
      }
      @media #{$tablet} {
        width: 100%;
        max-width: $max-mini;
        margin: 0 auto;
      }
      @media #{$notebook} {
        width: calc(100% - 410px);
        margin: 0;
      }
      @media #{$desktop}, #{$wide} {
        width: calc(60% - 2%);
        margin: 0;
      }

      .login-details {
        @media #{$notebook}, #{$desktop}, #{$wide} {
          width: 100%;
          margin: 0;
        }

        .login-head {
          display: block;
          width: 100%;
          margin-bottom: 15px;
          font-family: $family-primary;
          color: $text;
          font-size: $size-normal;
          font-weight: $weight-medium;
          line-height: 1.4;
          letter-spacing: 0px;
        }

        .login-detail {
          overflow: hidden;
          margin-top: 8px;

          .woocommerce-form-login.login {
            overflow: hidden;
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 25px;
            border-radius: 3px;
            background-color: $white-light;

            @media #{$mobile}, #{$tablet}  {
              padding-left: 17px;
              padding-right: 17px;
            }
            @media #{$notebook}, #{$desktop}, #{$wide} {
              padding-left: 19px;
              padding-right: 19px;
            }

            p:not(.form-row) {
              padding: 0 0 20px;
              line-height: 1.15;
            }

            .clear {
              display: flex;
              width: 100%;
            }

            p.form-row {
              .woocommerce-form-login__rememberme {
                margin-bottom: 18px;
              }
              .button {
                width: calc(50% - 7px);
              }
            }

            p.lost_password {
              padding-top: 5px;
              padding-bottom: 25px;

              a {
                color: $link-primary;
                position: relative;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: 100%;
                background-image: linear-gradient(transparent calc(100% - 1px), lighten($link-primary, 10%) 1px);
                transition: background-size ease $menu-transition;
                // ---------
                // !! Hover :: Managed in no-touch section
                // ---------
              }
            }
          }
        }
      }
    }

    .login-required {
      padding-top: 18vh;
      padding-bottom: 18vh;
      text-align: center;
      font-size: $size-medium;
      font-weight: $weight-medium;
    }

    form.woocommerce-checkout {
      overflow: hidden;
    }
  }
}

/**
 * Update links on 'no touch' devices
 */
.no-touch {
  .checkout-content {
    .woocommerce {
      .checkout_login {
        .login-details {
          .login-detail {
            .woocommerce-form-login {
              p.lost_password {
                a {
                  &:hover {
                    color: $link-primary;
                    background-size: 0 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
