.checkout-content {
  .woocommerce {

    // Summary
    .checkout-order-summary {
      display: flex;
      flex-direction: column;
      max-width: $max-small;
      margin: 0 0 50px;
    
      table.woocommerce-pay-order {
        width: 100%;
        border-spacing: 0px;
        thead {
          tr {
            th {
              &.product-name {
                padding-bottom: 20px;
                font-size: $size-larger;
                font-family: $family-secondary;
                letter-spacing: 1px;
                text-align: left;
                line-height: 1;
                text-transform: initial;
              }
            }
          }
        }
        tbody {
          tr {
            &:nth-child(1) {
              td.product-name,
              td.product-subtotal {
                border-top: 1px solid darken($border, 5%);
                .tax_label {
                  position: relative;
                  top: -1px;
                  font-size: small;
                }
              }
            }
            td.product-name  {
              padding-top: 6px;
              padding-bottom: 6px;
              border-bottom: 1px solid darken($border, 5%);
              .details {
                display: flex;
                width: 100%;
                flex-direction: row;
                position: relative;
                align-items: center;
                .details-image   {
                  width: 48px;
                  height: 48px;
                }
                .details-name {
                  width: calc(100% - 48px);
                  padding-left: 8px;
                  text-align: left;
                  font-family: $family-secondary;
                  font-size: $size-medium;
                  font-weight: $weight-bold;
                  line-height: 1;
                  letter-spacing: 0.5px;
                }
                .details-quantity {
                  position: absolute;
                  overflow: hidden;
                  z-index: 2;
                  top: -2px;
                  left: -6px;
                  width: 20px;
                  height: 20px;
                  border-radius: 10px;
                  padding-top: 2px;
                  border: 1px solid $white;
                  color: $white;
                  font-size: 12px;
                  font-weight: $weight-bold;
                  text-align: center;
                  line-height: 1;
                  background-color: $primary;
                  box-shadow: 0 1px 2px -1px rgba(0,0,0,.35);
                }
              }
            }
            td.product-subtotal {
              padding-top: 6px;
              padding-bottom: 6px;
              border-bottom: 1px solid darken($border, 5%);
              vertical-align: middle;
              font-size: $size-medium;
              font-weight: $weight-normal;
              line-height: 1;
            }
          }
        }
        tfoot {
          tr {
            &:nth-child(1) {
              th.product-name,
              td.product-total {
                padding-top: 18px;
              }
            }
            th.product-name {
              font-size: $size-medium;
              font-weight: $weight-normal;
              padding-bottom: 5px;
            }
            td.product-total {
              font-size: $size-medium;
              font-weight: $weight-normal;
              padding-bottom: 5px;
              .tax_label {
                position: relative;
                top: -1px;
                font-size: small;
              }
            }
          }
        }
      }
    }

    // Payment
    .checkout-order-payment {
      display: flex;
      flex-direction: column;
      max-width: $max-mini;

      form.pay-order {

        ul.wc_payment_methods {
          width: 100%;
          color: $text;
          font-size: $size-normal;
          font-weight: $weight-normal;
          line-height: 1.15;
          border-radius: 3px;
          background-color: $white-light;
    
          @media #{$mobile} {
            padding: 17px 20px 11px 17px;
          }
          @media #{$tablet} {
            padding: 17px 30px 11px 27px;
          }
          @media #{$notebook}, #{$desktop}, #{$wide} {
            padding: 19px 40px 11px 37px;
          }
    
          li {
            &.payment--method {
              padding-bottom: 22px;
              h3 {
                font-size: $size-large;
              }
            }

            /**
             * Cash on Delivery
             */
            &.payment_method_cod {
              position: relative;
              width: 100%;
              padding: 5px 0;
              margin-bottom: 14px;

              // labels are managed in the radio.scss
          
              .payment_box {
                display: inline-block;
                width: 100%;
                p {
                  padding: 10px 0 6px 35px;
                  font-size: $size-normal;
                }
              }
            }

            /**
             * Paypal
             */
            &.payment_method_paypal {
              position: relative;
              width: 100%;
              padding: 5px 0;
              margin-bottom: 14px;

              // labels are managed in the radio.scss

              label[for=payment_method_paypal] {
                img {
                  position: absolute;
                  top: 3px;
                  right: 0;
                  width: 80px;
                  height: auto;
                }
              }

              .payment_box {
                display: inline-block;
                width: 100%;
                p {
                  padding: 10px 0 6px 35px;
                  font-size: $size-normal;
                }
              }
            }

            /**
             * Stripe Payments
             */
            &.payment_method_stripe {
              position: relative;
              width: 100%;
              padding: 5px 0;
              margin-bottom: 14px;

              // labels are managed in the radio.scss

              label[for=payment_method_stripe] {
                vertical-align: top !important;
                
                img.stripe-icon {
                  position: absolute;
                  top: 3px;
                  width: auto;
                  height: 20px;
                  &.stripe-visa-icon {
                    right: 169px;
                  }
                  &.stripe-mastercard-icon {
                    right: 135px;
                  }
                  &.stripe-amex-icon {
                    right: 101px;
                  }
                  &.stripe-discover-icon {
                    right: 68px;
                  }
                  &.stripe-diners-icon {
                    right: 34px;
                  }
                  &.stripe-jcb-icon {
                    right: 0;
                  }
                }
              }
              .payment_box {
                display: inline-block;
                width: 100%;
                padding-left: 33px;
                p {
                  padding: 10px 0 6px 2px;
                  font-size: $size-normal;
                }
              }

              fieldset.wc-payment-form {
                padding-block-start: 12px !important;
                padding-inline-start: 0px !important;
                padding-inline-end: 0 !important;
                padding-block-end: 0 !important;
                
                .form-row {
                  label {
                    .required {
                      color: $primary;
                      font-size: $size-small;
                    }
                  }
                }
              }

              ul.wc-saved-payment-methods {
                padding-top: 6px;
                width: 100%;

                li {
                  cursor: pointer;
                  display: block;
                  margin-top: 6px;
                }
              }
              
              p.woocommerce-SavedPaymentMethods-saveNew {
                position: relative;
                padding: 0 0 0 36px;
                font-size: $size-normal;
                margin-left: -3px;
              }
              input#wc-stripe-new-payment-method {
                position: absolute;
                left: 8px;
                top: -6px;
              }
              label[for=wc-stripe-new-payment-method] {
                cursor: pointer;
                line-height: 1.15;
              }    
            }
          }
        }

        .form-row.pay-order {
          margin-top: 20px;

          .woocommerce-terms-and-conditions-wrapper {
            a {
              color: $link-primary;
              position: relative;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              background-position: 100%;
              background-image: linear-gradient(transparent calc(100% - 1px), lighten($link-primary, 10%) 1px);
              transition: background-size ease $menu-transition;
              // ---------
              // !! Hover :: Managed in no-touch section
              // ---------
            }
            .woocommerce-privacy-policy-text {
              p {
                margin-bottom: 18px;
                font-size: $size-normal;
                line-height: 1.25;
              }
            }
            .form-row.validate-required {
              margin-bottom: 22px;
            }
          }

          .btn-pay-it {
            height: 54px;
            padding: 12px 0 11px;
            border-color: $link-primary;
            background-color: $link-primary;

            @media #{$notebook}, #{$desktop}, #{$wide} {
              max-width: 220px;
            }
            // ---------
            // !! Hover :: Managed in no-touch section
            // ---------
          }
        }
      }
    }
  }
}


/**
 * Update links on 'no touch' devices
 */
.no-touch {
  .checkout-content {
    .woocommerce {
      .checkout-order-payment {
        form.pay-order {
          .form-row.pay-order {
            .woocommerce-terms-and-conditions-wrapper {
              a {
                &:hover {
                  color: $link-primary;
                  background-size: 0 100%;
                  }
              }
            }
            .btn-pay-it {
              transition: background-color $menu-transition ease-in-out 0ms, border-color $menu-transition ease-in-out 0ms, color $menu-transition ease-in-out 0ms;
              &:hover,
              &:focus,
              &:active {
                color: $white;
                border: 2px solid $button-hover-grey;
                background-color: $button-hover-grey;
              }
            }
          }
        }
      }
    }
  }
}